.name{
    color: rgb(255, 255, 255);
    margin-left: 23vw;
    margin-top: 2vw;
    font-size: 3rem;
    text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
                 #cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
                 #cad5e2 5px 5px 0;
}
.link{
    margin-top: -25px;
    margin-left: 2vw;
}
.link1{
    font-size: 25px;
    color: #0074f9;
    text-decoration: none !important;
    border: none !important;
    
}
.link2{
    font-size: 25px;
    color: #f900e8;
    text-decoration: none !important;
    border: none !important;
}
